@font-face {
  font-family: "FiraCode";
  src: url("/font/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: Bold;
}

@font-face {
  font-family: "LeagueSpartan";
  src: url("/font/LeagueSpartan-Bold.otf") format("truetype");
  font-weight: 600;
  font-style: Bold;
}
